@font-face{
 font-family:'lcd-matrix-font';
 src: url('../fonts/repet.ttf');
}


body{
    min-height: 100vh;
}

.db_header{
    position: relative;
    height: 55px;
    border-bottom: solid #8bab42 5px;
}

.db_logo{
    box-sizing: border-box;
    width: 220px;
    display: inline-block;
    position: absolute;
    height: 100%;
}

#db_wegostem_logo_top_left{
  padding: 5px;
  padding-left: 40px;
  padding-right: 30px;
}

.db_menu{
    box-sizing: border-box;
    width: 85%;
    left: 15%;
    display: inline-block;
    position: absolute;
    height: 100%;
}

.db_logo img{
    max-width: 100%;
    max-height: 100%;
}

.db_menu_item{
    padding: 10px;
    float: right;
    height: 100%;
    font-size: 30px;
    vertical-align: center;
}

#file-upload-dropzone {
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  height: 100px;
  border: solid black 1px;
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #8bab42;
	border-color: #8bab42;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

.db_menu_item:hover{
  color: #8bab42;
}

.db_diff_icon{
    font-size: 20px;
    padding: 15px;
}

#db_menu_item_difficulty{
    width: 200px;
    height: 30px;
    padding:10px;
}

#db_menu_item_difficulty_slider{
    display: inline-block;
    width: 100%;
}

#db_menu_item_language_selection{
    width: 200px;
    font-size: 20px;
    margin: 15px 0;
}

#db_menu_item_language{
    float: right;
}

#db_menu_item_language_selection option{
    font-size: 20px;
}

.db_content{
    position:absolute;
    top:50px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

#db_blockly{
    float:left;
    height:100%;
    width:100%;
    max-width: 100vw;
}

#db_infopane{
    height:100%;
    width:auto;
    overflow: hidden;
}



.ui-resizable-handle{
    background-color: #8bab42;
}

#db_simulator_top_pane{
    height: 50%;
    width: 100%;
    position: relative;
}

/*#db_simulator_pane{
    height: 50%;
    position: relative;
}*/

#content_arduino{
    height: 100%;
}

#db_code_pane{
    height: 100%;
}

#db_robot_pane{
    height: 100%;
    box-sizing: border-box;
    display: none;
}
#db_matterjs_pane{
  height: 100%;
  box-sizing: border-box;
  display: none;
}

#db_simulator_bottom_pane{
  height: 50%;
  position: relative;
  width: 100%;
}

#db_simulator_tab_selection{
  border-bottom: solid black 2px;
}

#sim_point {
    width: 2px;
    height: 2px;
    position: absolute;
    background: red;
}

#db_menu_item_dwengo_robot_teacher_image{
    padding: 10px;
    max-height: 100%;
    float: right;
}

.dropdownmenuitem{
        padding: 2px 7px;
        color: #333;
}

.dropdownmenuitem:hover{
    background-color: rgb(133, 196, 65);
    cursor: pointer;
}

.db_question_input_field {
    width: 30px !important;
}

.code_highlight_new {
  background-color: rgba(255, 204, 51, 0.5); /* Arduino yellow 50% */
}

.language {
    display:inline;
    padding-left: 10px;
}

.language:hover {
    text-decoration: underline;
}

.alertDebug {
    position: absolute;
    left: 0px;
    top: 50px;
    width: inherit;
    height: 50px;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    vertical-align: middle;
    line-height: 600px;
}

#sim_menu {
    width: 25%;
    height: 15%;
    float: left;
}

#sim_menu * {
    float: left;
    margin-top: 5px;
    padding: 5px;
}

.sim_item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #8BAB42;
}

.sim_item_disabled {
    color: darkgrey;
}

.sim_item_disabled:hover {
    color: darkgrey;
    text-decoration: none;
    cursor: default;
}

#sim_start,
#sim_pause,
#sim_stop,
#sim_step {
    font-size: 20px;
}

#sim_board {
    /*background-color: #2a7709; */
    background-image: url("../img/board/dwenguino.png");
    background-size: 100% 100%;
    width: 44vmin;
    height: 35vmin;
    position: absolute;
    top: 50%;
    /*left: 30%;*/
    right: 50px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

#sim_lcds {
    position: absolute;
    top: 32.6%;
    left: 16.4%;
    height: 24.65%;
    width: 70.7%;
    /*background-color: #7aaf64;*/
}

#sim_lcds.on{
  background-color: rgb(83, 170, 31);
}

.sim_lcd {
    height: 46%;
    width: 100%;
    padding: 1%;
    font-size: 3vh;
    font-family: lcd-matrix-font;
    letter-spacing: 2px;
    word-spacing: 4px;
    position: absolute;
}

#sim_lcd_row1{
  margin-top: 14%;
}

#sim_lights {
    position: absolute;
    top:80%;
    left: 10%;
    height: 20%;
    width: 60%;
}

#sim_light_13 {
    position: absolute;
    top:5%;
    left: 10%;
}

.sim_light {
    border-radius: 50%;
    /*width: 20px;
    height: 20px;*/
    width: 2vh;
    height: 2vh;
    float: left;
    margin-left: 3px;
}

.sim_light_off {
    background-color: #893737;
}

.sim_light_on {
    background-color: #e80d0d;
}

#sim_buttons {
    position: absolute;
    width: 30%;
    height: 25%;
    top: 75%;
    left: 70%;
}

#sim_buttons * {
    height: 26px;
    margin-bottom: 2px;
}

#sim_buttons_top * {
    margin-left: 27px;
}

#sim_buttons_middle * {
    margin-right: 2px;
}

#sim_buttons_bottom * {
    margin-left: 27px;
}


#sim_button_reset {
    position: absolute;
    top:90%;
    left: 30%;
}

.sim_button {
    background-image: url("../img/board/button.png");
    background-size: 100% 100%;
    width: 26px;
    height: 26px;
    float:left;
}

.sim_button_pushed {
    background-image: url("../img/board/button_pushed.png");
}

.disabled {
    color: darkgrey;
}

.disabled:hover {
    text-decoration: none;
}

#sim_components_menu {
    float:left;
    position:relative;
    padding: 5px;
    max-width: 100px;
}

#sim_components {
    position: absolute;
    top: 20%;
    left: 20%;
    height: 100px;
    width: 120px;
}

#sim_scope_name {
    padding-top: 10px;
}

#sim_scope {
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: auto;
    max-height:150px;
}

.scenario_image {
  box-sizing: border-box;
  width: 50;
  height: 50px;
}



.sim_servo {
    background: #0a3c7a;
    height: 25px;
    width: 50px;
    margin-right: 8px;
    float: left;
}

.sim_servo_mov {
    background-image: url("../img/board/servo_movement.png");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

#sim_motors {
    clear: right;
    height: 50px;
    width: 75%;
}

.sim_motor {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    float: left;
    background-image: url("../img/board/dc_motor.png");
    background-size: 100% 100%;
    margin-bottom: 15px;
}

.sim_sonar {
    height: 50px;
    width: 85px;
    background-image: url("../img/board/sonar.png");
    background-size: 100% 100%;
    margin-top: 40px;
}

#sonar_input {
    width: 40px;
}

.sim_menu_next_line {
    clear: left;
    margin-top: -5px;
    margin-left: 7px;
    width: 100px;
}

.sim_scenarioTag {
  float: left;
  clear: left;
}

.scenario_radio_container > img {
  margin-top: -15px !important;
}

.sim_scenario {
  box-sizing: border-box;
  width: 100px;
  float: left;
  clear: left;
}

.scenario_radio_container {
  clear: left;
  float:left;
}

#sim_start {
    padding-left: 10px;
}

.tabs{
  height: 30px;
  margin-top: -32px;
  margin-bottom: 0px;
  padding-left: 20px;
}

.tabs li {
	list-style:none;
	display:inline;
}

.tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#666;
	color:#fff;
	text-decoration:none;
}

.tabs a.active {
	background:#8bab42;
	color:#000;
}

#robot_components_menu {
    width: 75%;
    height: 50%;
    float: right;
    padding: 10px;
}

.robot_components_item { 
    margin: 5px;
    width: 25%;
    height: 100%;
    float: left;
    border-style: solid;
    border-color: #B5C986;
    background:#B5C986;
}

#rc_servo_img {
    width: 100px;
    height: 136px;
    margin-right: 10px;
    float: left;
    background-image: url("../img/board/servo.png");
    background-size: 100% 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

#rc_led_img {
    width: 60px;
    height: 118px;
    margin-right: 10px;
    float: left;
    background-image: url("../img/board/led.png");
    background-size: 100% 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

#rc_pir_img {
    width: 100px;
    height: 97px;
    margin-right: 10px;
    float: left;
    background-image: url("../img/board/pir.png");
    background-size: 100% 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.rc_tag {
    margin: 5px;
}

.sim_canvas{
    width: 100%;
    height: 100%;
}

.sim_element{
    color: darkgrey;
    position: absolute;
    top: 5px;
    left: 5px;
}

.sim_element_led{
    width: 40px;
    height: 30px;
}

.sim_element_servo{
    width: 200px;
    height:150px;
    top: 5px;
    left: 5px;
}

.sim_element_pir{
    width:100px;
    height: 60px;
}

.servo_canvas{
    margin-top: 20px
}

.pir_canvas{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

#sim_container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
